*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{font-size: 16px; line-height: 24px; color: #9e8e7c; font-family: 'Noto Sans KR';}
header{height: 150px;
       position: relative;}
.header_inner{margin: auto;
              padding: 30px 0px 0px 0px;
              width: 1320px;}
.header_inner h6{float: left;}
.header_left{float: left;
             margin-left: 135px;}
.header_left> li{float: left;
                width: 160px;
                padding-top: 80px;
               
                display: block;
                }
.header_inner .header_right{float: right;}
.header_right li{float: left;
                 padding-left: 10px;
                 padding-top: 74px;}
.header_left a{padding-bottom: 20px;
                display: block;
                }
/*sub*/
.sub a{
  display: block;
  padding: 20px 0;
  color: white ;  
  text-align: left;
  padding: 15px 28px 10px 15px ;

}
.sub a:hover{
  color:#eb8f22;;
}
.sub{
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 99;
  background-color: rgba(21, 76, 74, 0.7);
  display: none;
  
  
}
.nav li:hover .sub{
  display: block;
}
.sub2{width: 1320px;
      margin: auto;}
.sub2 ul{float: left;
         width: 160px;
         }
.sub3{margin-left: 450px;
      }
.banner img{width: 100%;
            }
.header_inner .header_right li:hover{opacity: 0.5;}
.contents1-1{width: 1320px;
             margin: auto;
             margin-top: 250px;
             height: 1270px;
            }
.contents1-2 li{float: left;
                width: 33.333%;}
.contents1{background: url(../images/Untitled-3.jpg) no-repeat 100%  fixed;
          width: 100%;
          height: 1020px;}


.color{color: #383532;
       font-size: 30px;
       font-weight: bold;
       padding-bottom: 28px;}
.color1{font-size: 38px;
  color: #eb8f22;
  font-family: 'El Messiri';}
.font-size{font-size: 20px;
          line-height: 32px;}
.font-size1{font-size: 25px;
            color: #eb8f22;
            line-height: 25px;
            font-weight: 600;}
.font-size2{font-size: 20px;
            padding-bottom: 12px;}
.color2{color: #eb8f22;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;}
.contents1-2{margin-bottom: 70px;}
.contents2{width: 1345px;
          margin: auto;
          text-align: right;
          margin-top: 300px;
          overflow: hidden;}
.contents2-1{background: url(../images/Untitled-9.jpg)no-repeat;
            height: 446px;
            width: 100%;
            margin-bottom: 40px;}
.contents2-2{width: 1320px;
             margin: auto;
             margin-bottom: 100px;}
.color3{color: #154c4a;
        font-size: 25px;
        font-weight: 600;}
h3{text-align: center;}
iframe{width: 100%;}
.map{width: 1320px;
     margin: auto;}
.map div{border-bottom: #eb8f22 2px solid;
         height: 150px;}
.map1{background: url(../images/map_icon.png) no-repeat 0 center;}
.map2{background: url(../images/map_icon2.png) no-repeat 0 center;}
.map3{background: url(../images/map_icon3.png) no-repeat 0 center;}
.map p{font-size: 20px;
        color: #383532;
        font-weight: 600;}
.map h2{font-size: 16px;}
.map1 p{padding-left: 80px;
        padding-top: 60px;}
.map2 p{padding: 40px 0 0 80px;}
.map2 h2{padding-left: 80px;}
.map3 p{padding: 40px 0 0 80px;}
.map3 h2{padding-left: 80px;}


footer{height: 300px;
  background-color: #fff7ee;
  margin-top: 300px;}
.footer_borer{border-bottom: 2px solid #eb8f22;
          height: 100px;}
.footer_top{width: 1320px;
        margin: auto;
        position: relative;}
.footer_top h6{position: absolute;
           top: 30px;}    
.footer_top p{position: absolute;
          font-size: 17px;
          color: #eb8f22;
          font-family: "El Messiri";
          top: 65px;
          left: 110px;}  
.footer_top ul{float: right;}
.footer_top ul li{float: left;
              padding-left: 10px;
              padding-top: 60px;}
.footer_button .footer_left{float: left;}
.footer_button .footer_left2 {float: left;
                          position: absolute;
                          left: 580px;} 
.footer_button .footer_right{float: right;}
.footer_right a{color: #eb8f22;}
.footer_right a:hover{color: #ffd4a0;}
.footer_button{width: 1320px;
           margin: auto;
          position: relative;}
.footer_button li{padding-bottom: 20px;
              color: #eb8f22;
              padding-top: 10px;
             font-size: 14px;}
.top_btn{display: inline-block;
     position: fixed;
     right: 50px;
     bottom: 70px;
     font-weight: bold;
     background: url(../images/top_btn.png)no-repeat;
     width: 60px;
     height: 60px;}
     
.top_btn:hover{background: url(../images/top_btn_hover.png)no-repeat;}
.footer_top .footer_hover li:hover{opacity: 0.5;}
.contents3{width: 100%;
           height: 1000px;
           background-color: #f3f3f3;
           }
.contents3-1{width: 1320px;
            margin: auto;
            overflow: hidden;}
.cl1{margin-top: 300px;}

