*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/*팝업창 꾸미기*/
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}
.popup div{
    width: 314px;
    height: 516px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}
.popup p{position: absolute;
    display: inline-block;
    text-align: right;
    padding: 5px;
    right: -215px;
    bottom: 120px;
    background: url(../images/popup.png) no-repeat;
        width:28px;
        height: 29px;
}
.popup p a{
    color: #fff;
}
.popup img{
    display: block;
}
.popup a{display: block;
        width: 50px;
        height: 50px;}
.popup p:hover{background: url(../images/popup_hover.png) no-repeat;}